body {
    background-color: #000000;
}
h1, h2 {
    color: #ffffff;
    margin-top: 35px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #D2D2D2;
    font-family: Arial, sans-serif;
}

ol, ul {
    list-style-type: none;
	color: #D2D2D2;
    padding-left: 20px;
    margin-bottom: 20px;
}

ol li::before,
ul li::before {
    content: "\2022";
    color: #ffffff;
    margin-right: 10px;
}

a {
    color: #C6515C;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.content-left,
.content-right {
    background-color: #444444;
    margin: 0 10px;
    padding: 20px;
    border-radius: 5px;
}

.content-left {
    flex: 0 0 60%;
}

.content-right {
    flex: 0 0 30%;
}

.content-right img {
    max-width: 100%;
    height: auto;
}